<div class="form-field">
  <label for="recipe[title]">Title:</label>
  <input type="text" name="recipe[title]" value="<%= @recipe.title %>" />
</div>
<div class="form-field">
  <label for="recipe[description]">Description:</label>
  <textarea name="recipe[description]"><%= @recipe.description %></textarea>
</div>
<div class="form-field">
  <label for="recipe[ingredients]">Ingredients:</label>
  <textarea name="recipe[ingredients]"><%= @recipe.ingredients %></textarea>
</div>

<div class="form-field">
  <label for="recipe[tag_names]">Tags:</label>
  <input type="text" name="recipe[tag_names]" value="<%= @recipe.tag_names %>" />
</div>