<h1>Add a new recipe</h1>
<form action="<%= recipes_path %>" method="post">

  <%= erb :"recipes/_form_fields" %>

  <div class="form-buttons">
    <input type="submit" value="Create recipe!" />
  </div>
</form>

