<h1>Recipes</h1>
<ul class="recipes-list">
  <% @recipes.each do |recipe| %>
    <li class="recipe-item">
      <a href="<%= recipe_path(recipe) %>"><%= recipe.title %></a>
    </li>
  <% end %>
</ul>

<a href="/recipes/new">Add a recipe</a>

